<!--<h1>Savings Test</h1>-->
<link rel="stylesheet" href="../../mistbox_data_import/css/examples.css">
<h1 style="display:none;">Savings Test</h1>
<div style="min-height: 54%;position: absolute;width: 900px;"> 
    <object id="ob1" type="text/html" data="./column/ColumnTest.html" width="100%" height="100%" style="">
    </object>
 </div>
 <div style="min-height: 54%;position: absolute;width: 900px;margin-top: 324px;margin-left: 81px;"> 
     <object id="ob2" type="text/html" data="./mistbox_data_import/mistboxSavings.html" width="100%" height="100%" style="">
    </object>
</div>
