
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['Home']" style="padding-bottom: 60px;">Mistbox 3.0 <br> Dashboard</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li *ngIf="loggedIn()" [class.active]="isCurrentRoute(['Savings'])"><a [routerLink]="['Savings']" style="padding-top: 28px; height: 80px;">Savings Test</a></li>
        <li *ngIf="loggedIn()" [class.active]="isCurrentRoute(['Timeline'])"><a [routerLink]="['Timeline']" style="padding-top: 28px; height: 80px;">Timeline Test</a></li>
        <li *ngIf="loggedIn()" [class.active]="isCurrentRoute(['Settings'])"><a [routerLink]="['Settings']" style="padding-top: 28px; height: 80px;">Account Settings</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <a href="#" *ngIf="!loggedIn()" (click)="login()" style="padding-top: 28px; height: 80px;">Log In</a></li>
        <li> <a href="#" *ngIf="loggedIn()" (click)="logout()" style="padding-top: 28px; height: 80px;">Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
